.corpo{
    background-color:dark red;
}
.titulo{
    font-size: 50px;
    color: white;
    background: black;
    text-align: center;
}
.texto-imc{
      font-size: 50px;
      text-align: center;
}
